<div class="row">
  <div class="large-6 columns">
    <h5>Fill out the form below to edit your band</h5>
      <% if @band.errors.any? %>
        <div><% @band.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <% end %>
    <div class="panel">
      <%= render "edit_band_form" %>
    </div>
  </div>
</div>
