<div class="row">
  <div class="large-6 columns">
    <p> Fill out the form below to add a band member </p>

    <div class="panel">
      <%= render "new_bandmember_form" %>
    </div>
  </div>
</div>
